SECRET_KEY=change-me-to-a-random-50-char-string
DEBUG=False
ALLOWED_HOSTS=*
WEB_PORT=8443
DB_PATH=/opt/proxmigrate/db.sqlite3
UPLOAD_ROOT=/opt/proxmigrate/uploads
FIELD_ENCRYPTION_KEY=change-me-generate-with-python-manage.py-generate-encryption-key
CELERY_BROKER_URL=redis://127.0.0.1:6379/0
CELERY_RESULT_BACKEND=redis://127.0.0.1:6379/0
