Django==4.2.16
gunicorn==21.2.0
celery==5.3.6
redis==5.0.1
paramiko==3.4.0
requests==2.31.0
python-dotenv==1.0.0
django-encrypted-model-fields==0.6.5
python-ldap==3.4.5
django-auth-ldap==4.6.0
django-allauth==0.61.1
Markdown==3.5.2
cryptography==42.0.2
pyotp==2.9.0
qrcode==7.4.2
Pillow==11.1.0
channels==4.2.0
channels_redis==4.2.1
daphne==4.1.2
